.DS_Store
node_modules
src/public/dist
*.sqlite
*.sqlite3
*.sqbpro
*sqlite3-journal
.env
test.*

# Log files
npm-debug.log*

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
